.logo__size {
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 50px;
}

.same-size {
  height: 800px;
}

.list {
  list-style-type: circle;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid var(--bs-headfoot-font-color);
  width: 100px;
  height: 100px;
}

.img-zoom-result {
  border: 1px solid var(--bs-headfoot-font-color);
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

#message {
  color: var(--bs-secondary);
}


@media screen and (max-width: 576px) {
  .img-zoom-result {
    display: none;
  }

  .img-zoom-lens {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .img-zoom-result {
    display: none;
  }

  .img-zoom-lens {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .img-zoom-result {
    border: 1px solid var(--bs-headfoot-font-color);
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 30px;
    left: 10px;
  }

  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 100px;
    height: 100px;
  }
}