@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@400&display=swap");

:root {
  /* === Palette de couleurs === */
  --bs-primary: #708090;
  --bs-secondary:#A50000;
  --bs-font-color: black;
  --bs-button :#003366;
  --bs-header-footer:#003366;
  --bs-headfoot-font-color: white;
  --bs-interactive-elements:#4B8B3B;
  --bs-decorative-elements:#FFD700;
  

  /* Police*/
  --bs-font-cinzel: 'Cinzel', serif;
  --bs-font-roboto: 'Roboto', sans-serif;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;

  /* === Boutons === */
  --bs-border-radius: 0.25rem;
  --bs-border-radius-lg: 0.25rem;
}

